
.header__search {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 42px;
    width: 300px;
    color: gray;
    background-color: #eef3f8;
}

.header__search>input {
    outline: none;
    border: none;
    background: none;
}

.dropdown >p {
    padding-top: 0px;
    margin-top: 0px;
}
.divProfile{
    padding: 20px;
    text-align: center;
    width: 250px;
}
.div__detail{
    text-align: center;
}
.div__detail >img{
    height: 90px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 5px;
}
.div__action{
    display: flex;
    justify-content: space-evenly;
    color: black;
}
.div__action > button{
    border: none;
    background: transparent;
    text-decoration:underline;
}
.SmProfile{
    display: none;
}
@media(max-width: 768px){
    .header__search{
        display: none;
    }
    .SmProfile{
        display: block;
    }
    .PDiv-nav{
        display: none;
    }
  
}
@media(max-width: 468px){
    .header__search{
        display: none;
    }
    .PDiv-nav{
        display: none;
    }
   
}

